<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="login-section">
            <h1>ĐĂNG NHẬP</h1>
            <form class="login-form">
                <div class="form-item">
                    <label class="form-label" for="username">Tên đăng nhập</label>
                    <input class="text-input" type="text" name="username">
                </div>
                <div class="form-item">
                    <label class="form-label" for="password">Mật khẩu</label>
                    <input class="text-input" type="password" name="password">
                </div>
                <div class="checkbox-item">
                    <input class="checkbox-input" type="checkbox">
                    <p>Ghi nhớ tôi</p>
                </div>
                <div class="form-item">
                    <a ><button class="dang-nhap-btn">ĐĂNG NHẬP</button></a>
                </div>
                <div class="dang-ky-link">
                    <a class="register-button">Đăng ký</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>